.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
    border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
    opacity: 1;
}

@media screen and (max-width: 40em) {
    .container :global(.vtex-modal-layout-0-x-triggerContainer) {
        display: none;
    }
}

.nameContainer {
    justify-content: start;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.brandName {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #0A43A3;
}

:global(.vtex-product-summary-2-x-nameContainer) {
    justify-content: center;
    text-align: center;
}

.container {
    text-align: start;
}

.imageContainer {
    text-align: center;
}

.image {
    border-radius: 0.25rem;
}

:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) {
    color: #118996;
    border: 3px solid #118996;
    background: #ffffff;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}

:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button):hover {
    color: #0A43A3;
    border: 3px solid #0A43A3;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}