/*Header*/

.logoImage--logo-menu-mobile {
    width: 120px;
    margin-top: 0.9em;
    margin-left: -0.5em;
}

.logoLink--logo-header {
    margin-top: 0.5em;
}


/* end Header */


/* sociales de producto individual*/

.shareButtons {
    justify-content: center;
}

.shareLabel {
    text-align: center;
    color: black;
    font-weight: bolder;
}


/* end sociales de producto individual*/