.profileIcon--login-menu,
.label {
    color: white;
}

:global(.vtex-login-2-x-button) :global(.vtex-button) {
    width: 100%;
    min-height: 2.5rem;
    background: #108896;
    color: white;
    border: none;
}

:global(.vtex-login-2-x-button) :global(.vtex-button):hover {
    width: 100%;
    min-height: 2.5rem;
    background: #099656;
    color: white;
    border: none;
}

:global(.vtex-login-2-x-container) :global(.vtex-button),
:global(.vtex-login-2-x-container) :global(.vtex-button):hover,
:global(.vtex-login-2-x-container) :global(.vtex-button):focus,
:global(.vtex-login-2-x-container) :global(.vtex-button):active,
:global(.vtex-login-2-x-sendButton) :global(.vtex-button),
:global(.vtex-login-2-x-sendButton) :global(.vtex-button):hover,
:global(.vtex-login-2-x-sendButton) :global(.vtex-button):focus,
:global(.vtex-login-2-x-sendButton) :global(.vtex-button):active {
    background-color: #099656;
    color: white;
    border: none;
    border-color: #099656;
}