:global(.vtex-search-result-3-x-galleryTitle--layout) {
    color: #0A43A3;
}

:global(.vtex-search-result-3-x-buttonShowMore) :global(.vtex-button) {
    color: white;
    border: none;
    background: #118996;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

:global(.vtex-search-result-3-x-buttonShowMore) :global(.vtex-button):hover {
    color: white;
    background: #0A43A3;
    border: none;
    transition: all 0.3s ease 0s;
}