.cartIcon--minicart {
    color: white;
}

:global(.vtex-minicart-2-x-container) {
    padding-right: 1em;
    padding-left: 1em;
}

:global(.vtex-minicart-2-x-contentFooter) :global(.vtex-button) {
    width: 100%;
    min-height: 2.5rem;
    background: #108896;
    color: white;
    border: none;
}

:global(.vtex-minicart-2-x-contentFooter) :global(.vtex-button):hover {
    width: 100%;
    min-height: 2.5rem;
    background: #099656;
    color: white;
    border: none;
}

:global(.vtex-minicart-2-x-container) :global(.vtex-button),
:global(.vtex-minicart-2-x-container) :global(.vtex-button):hover,
:global(.vtex-minicart-2-x-container) :global(.vtex-button):focus,
:global(.vtex-minicart-2-x-container) :global(.vtex-button):active {
    background-color: #099656;
    color: white;
    border: none;
    border-color: #099656;
}

.minicartIconContainer {
    color: white;
}

:global(.vtex-minicart-2-x-badge) {
    background-color: #0A43A3;
}