.flexRow--layout-drawer {
    padding: 0 2em;
}


/* Para producto individual*/

.flexCol--product-details {
    padding: 5em;
    border-radius: 10px;
    background-color: #e0f1f3;
    margin-right: 2em;
}

.flexRow--buy-button :global(.vtex-button) {
    color: #118996;
    border: 3px solid #118996;
    background: #ffffff;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}

.flexRow--buy-button :global(.vtex-button):hover {
    color: #0A43A3;
    border: 3px solid #0A43A3;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}


/*Para producto individual*/