.departmentLink {
    color: #0A72AD;
    font-weight: bold;
}

:global(.vtex-category-menu-2-x-itemContainer) {
    max-height: 25.875rem;
}

:global(.vtex-category-menu-2-x-firstLevelLink) {
    color: #099656;
    font-weight: bolder;
}

:global(.vtex-category-menu-2-x-secondLevelLink):hover {
    color: #099656;
}